<div class="container">
  <app-searchbox [inputLabel]="'Buscar'" [searchText]="''"></app-searchbox>
  <app-datepicker [inputLabel]="'Fecha Inicio'"></app-datepicker>
  <app-datepicker [inputLabel]="'Fecha Fin'"></app-datepicker>
  <app-dropdown [inputLabel]="'Estatus'" [options]="statusOptions"></app-dropdown>
  <app-dropdown [inputLabel]="'Cliente'" [options]="clientOptions"></app-dropdown>
</div>
<div class="container">
  <app-table
    [rows]="vacancies"
    [rowComponent]="vacancyRow"
    [columns]="vacancyCols"
    [customTds]="tdComponents">
  </app-table>
</div>
