<table class="table">
  <thead>
  <tr>
    <th scope="col" class="table-head">
      <div class="col-head">
        # de Ticket
        <i class="bi bi-arrow-up"></i>
      </div>
    </th>
    <th scope="col" class="table-head">
     <div class="col-head">
       Vacante
       <i class="bi bi-arrow-up"></i>
     </div>
    </th>
    <th scope="col" class="table-head">
     <div class="col-head">
       Descripcion
       <i class="bi bi-arrow-up"></i>
     </div>
    </th>
    <th scope="col" class="table-head">
      <div class="col-head">
        Reclutador
        <i class="bi bi-arrow-up"></i>
      </div>
    </th>
    <th scope="col" class="table-head">
      <div class="col-head">
        Estatus
        <i class="bi bi-arrow-up"></i>
      </div>
    </th>
    <th scope="col" class="table-head">
      <div class="col-head">
        Estatus de reclutador
        <i class="bi bi-arrow-up"></i>
      </div>
    </th>
    <th scope="col" class="table-head">
      <div class="col-head">
        Comentarios
        <i class="bi bi-arrow-up"></i>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ticket 123</td>
    <td>Desarrollador</td>
    <td>
      <i class="bi bi-book"></i>
    </td>
    <td>
      <div class="dropdown">
        <img src="" alt="" width="30" height="30">
        <button class="btn dropdown-toggle" type="button" id="dropDownMenuButton" data-bs-toggle="dropdown">
          Carla Monterola
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Vanessa</a></li>
        </ul>
      </div>
    </td>
    <td>
      <span class="badge badge-pill bg-primary">activo</span>
    </td>
    <td>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropDownMenuButton" data-bs-toggle="dropdown">
          Asignada
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">Asignada</a></li>
          <li><a class="dropdown-item">Sin asignar</a></li>
        </ul>
      </div>
    </td>
    <td>Lorem ipsum dolor sit amet, consectetur</td>
  </tr>
  </tbody>
</table>
