<table class="table">
  <thead>
  <tr>
    @for (column of columns; track column.columnName) {
      <th scope="col" class="table-head">
        <div class="col-head">
          {{column.columnLabel}}
          <i class="bi bi-arrow-up" (click)="updateFilterOrder($event, column[0])"></i>
        </div>
      </th>
    }
  </tr>
  </thead>
  <tbody>
    @for (row of rows; track row.id) {
      <tr>
        @for (column of columns; track column.columnName) {
          <td>
            <app-custom-td
              [template]="customTds[column.id-1]"
              [attributes]="{content:rows[row.id-1][column.columnName]}"
            >
            </app-custom-td>
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td colspan="7">No hay vacantes</td>
      </tr>
    }
  </tbody>
</table>
